
/** reset **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/** colore sfondo **/
body{
    background-color: #f6f8f9;
}

/** modifica header **/

#id{
    height: 50px;
    display: inline-block;
}

.testa{
    height: 50px;
    width: 225px;
    padding: 10px auto 10px 20px;
    
}

.box-titolo{
    width: auto;
    height: 80px;
    background-color: #ffff;
    
}

h1{
    font-size: 33px;
    display: inline-block;
}

/**  pre main **/

.box-main{
    
    width: auto;
    height: 1100px;
    background-color: #ffff;
    margin: 0px 170px 20px;

}

.box-add{
    width: auto;
    height: 55px;
    background-color: #ffff;
    margin: 40px 170px 10px;
    
}

.task{
    display: inline-block;
    font-size: 15px;
    padding: 4px;
    margin: 15px 0px 10px 51px;
    border-style: solid;
    border-radius: 7px;
    background-color: #14aaf5;
    border-color: #14aaf5;
    color: #ffff;
    

}

.section{
    display: inline-block;
    font-size: 15px;
    padding: 4px;
    margin: 15px auto 10px 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: #d1d7db;
    color: #d1d7db;
}

/** main **/

h2{
    font-size: 20px;
    padding: 36px 10px 10px 10px;
    border-style: none; 
    margin: 0% auto 0px 50px;
    color: #434851;
}




/** box main **/

/* crocette */
.fatto{
    font-size: 17px ;
    color: #49ceb7;
}

.non-fatto{
    font-size: 17px ;
    color: #ff4141;
}

/* scritte */
h3{
    font-size: 17px;
    display: inline-block;
}

/* tag */
.editorial{
    font-size: 15px;
    padding: 4px 7px;
    margin: 15px auto 10px 3px;
    border-style: solid;
    border-radius: 20px;
    background-color: #14aaf5;
    border-color: #14aaf5;
    color: #ffff; 
}

.goals{
    font-size: 15px;
    padding: 4px 7px;
    margin: 15px auto 10px 3px;
    border-style: solid;
    border-radius: 20px;
    background-color: #ab5de6;
    border-color: #ab5de6;
    color: #ffff;
}



/* impostazioni blocco*/
.blocco{
    margin: 18px auto 0% 60px;
}